/*********************** Color Palette ***********************/

/*
#ED6A5A Terra Cotta
#F4F1BB Blond
#9BC1BC Cambridge Blue (Light Blue)
#5CA4A9 Cadet Blue
#E6EBE0 Platinum
#546673 Cadet (Dark Gray)
*/

/*********************** General ***********************/

@font-face {
  font-family: "Baloo";
  src: local(Baloo), url("../fonts/Baloo/Baloo-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: local(Open_Sans), url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: local(Source_Sans_Pro), url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  background-color: #E6EBE0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  color: dimgray;
}

main {
  padding: 25px;
  overflow-y: scroll;
  height: 100vh;
}

/*********************** Welcome Page ***********************/

#brand-logo {
  font-family: 'Baloo', cursive;
  font-size: 4em;
  display: block;
  color: #1B2631;
}

#slogan {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  display: block;
  margin-bottom: 20px;
  color: #1B2631;
}

#welcome-box {
  flex-basis: 600px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #fff;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-cols {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-rows {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.welcome-rows {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.headline {
  fontSize: 24;
  paddingTop: 16;
  marginBottom: 12;
  fontWeight: 400;
}

.padding {
  padding: 20px;
}

.margin {
  margin: 20px;
}

.left-margin {
  margin-left: 20px;
}

/*********************** Sidebar ***********************/

.container-sidebar-layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

nav {
  height: 100vh;
  width: 17.578125%;
  max-width: 250px;
  min-width: 225px;
  background-color: #546673;
  color: aliceblue;
  box-shadow: 0 1px 6px rgba(0,0,0,0.25);
  overflow-y: scroll;
}

#user-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

#avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #F4F1BB;
  margin: 10px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.25);
}

#username {
  color: aliceblue;
}

.avatar-img {
  zoom: 2;
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  padding: 0;
}

#sidebar-nav {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #546673;
}

li > a {
  display: block;
  padding: 10px;
  display: flex;
  align-items: center;
}

#sidebar-goals > li > a {
  text-decoration: none;
  display: block;
  padding: 10px 10px 10px 25px;
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #ED6A5A;
}

/* unvisited and visited link */
li > a:link, li > a:visited {
  color: #fff;
}

#sidebar-goals > li > a:link, #sidebar-goals > li > a:visited {
  color: #fff;
}

/* mouse over link */
li > a:hover {
  background-color: #9BC1BC;
}

#sidebar-goals > li > a:hover {
  background-color: #F4F1BB;
  color: #546673;
}

/* selected link */
li > a:active {
  color: #F4F1BB;
}

#sidebar-goals > li > a:active {
  color: #546673;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  padding-right: 5px;
}

/**************** Main Stuff *****************/

.paper-container {
  min-height: 70vh;
  min-width: 1000px;
  display: flex;
  flex-direction: row;
}

.paper-col {
  width: 50%;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.btn-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.save-btn {
  margin-top: 50px;
  margin-bottom: 10px;
}

.preview {
  width: 65px;
  height: 65px;
  margin: 10px;
}

#img-preview {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

#empty-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #F4F1BB;
}

.container-preview {
  align-items: flex-start;
  justify-content: flex-start;
}

.padding-sides {
  padding-left: 20px;
  padding-right: 20px;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;;
  width: 100%;
  height: 100%;
}

.dashboard-chart {
  width: 60%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-goals {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.align-left {
  align-self: flex-start;
}

.dashboard-goal {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: solid;
  border-color: #E6EBE0;
  border-width: thin;
}

.goal-details {
  height: 125px;
  width: 200px;
  padding: 10px;
}

.goal-progress {
  width: 100%;
  height: 100%;
}

.left-align {
  align-self: flex-start;
}

#quote {
  margin-top: 25px;
  padding: 20px;
  text-align: center;
  font-style: italic;
  color: #546673;
}

.goal-details > a:hover {
  text-decoration: none;
}

.steps-list {
  margin: 25px 0;
}
